{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content_class %}centered{% endblock %}
{% block content %}
<div class="signup-container">
    <h2>Sign Up</h2>
    <form id="signupForm" method="POST" action="{{ url_for('signup') }}">
        <input type="text" name="name" id="name" placeholder="Name" required>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <button type="submit" class="nav-btn">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}
